/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
#SwaggerUi {
  /* HTML5 display-role reset for older browsers */
}
#SwaggerUi html,
#SwaggerUi body,
#SwaggerUi div,
#SwaggerUi span,
#SwaggerUi applet,
#SwaggerUi object,
#SwaggerUi iframe,
#SwaggerUi h1,
#SwaggerUi h2,
#SwaggerUi h3,
#SwaggerUi h4,
#SwaggerUi h5,
#SwaggerUi h6,
#SwaggerUi p,
#SwaggerUi blockquote,
#SwaggerUi pre,
#SwaggerUi a,
#SwaggerUi abbr,
#SwaggerUi acronym,
#SwaggerUi address,
#SwaggerUi big,
#SwaggerUi cite,
#SwaggerUi code,
#SwaggerUi del,
#SwaggerUi dfn,
#SwaggerUi em,
#SwaggerUi img,
#SwaggerUi ins,
#SwaggerUi kbd,
#SwaggerUi q,
#SwaggerUi s,
#SwaggerUi samp,
#SwaggerUi small,
#SwaggerUi strike,
#SwaggerUi strong,
#SwaggerUi sub,
#SwaggerUi sup,
#SwaggerUi tt,
#SwaggerUi var,
#SwaggerUi b,
#SwaggerUi u,
#SwaggerUi i,
#SwaggerUi center,
#SwaggerUi dl,
#SwaggerUi dt,
#SwaggerUi dd,
#SwaggerUi ol,
#SwaggerUi ul,
#SwaggerUi li,
#SwaggerUi fieldset,
#SwaggerUi form,
#SwaggerUi label,
#SwaggerUi legend,
#SwaggerUi table,
#SwaggerUi caption,
#SwaggerUi tbody,
#SwaggerUi tfoot,
#SwaggerUi thead,
#SwaggerUi tr,
#SwaggerUi th,
#SwaggerUi td,
#SwaggerUi article,
#SwaggerUi aside,
#SwaggerUi canvas,
#SwaggerUi details,
#SwaggerUi embed,
#SwaggerUi figure,
#SwaggerUi figcaption,
#SwaggerUi footer,
#SwaggerUi header,
#SwaggerUi hgroup,
#SwaggerUi menu,
#SwaggerUi nav,
#SwaggerUi output,
#SwaggerUi ruby,
#SwaggerUi section,
#SwaggerUi summary,
#SwaggerUi time,
#SwaggerUi mark,
#SwaggerUi audio,
#SwaggerUi video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#SwaggerUi article,
#SwaggerUi aside,
#SwaggerUi details,
#SwaggerUi figcaption,
#SwaggerUi figure,
#SwaggerUi footer,
#SwaggerUi header,
#SwaggerUi hgroup,
#SwaggerUi menu,
#SwaggerUi nav,
#SwaggerUi section {
  display: block;
}
#SwaggerUi body {
  line-height: 1;
}
#SwaggerUi ol,
#SwaggerUi ul {
  list-style: none;
}
#SwaggerUi blockquote,
#SwaggerUi q {
  quotes: none;
}
#SwaggerUi blockquote:before,
#SwaggerUi blockquote:after,
#SwaggerUi q:before,
#SwaggerUi q:after {
  content: '';
  content: none;
}
#SwaggerUi table {
  border-collapse: collapse;
  border-spacing: 0;
}
